* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #ECF0F1;
}

#full-width-cont {
    width: 100vw;
    max-width: 100%;
    z-index: 100;
}

.white {
    color: white;
}

.extrabold {
    font-weight:800;
}

.light {
    font-weight:300;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5em;
    max-width: 100%;
    width: 100%;
    background-color: #1BBC9B;
    z-index: 3000;
}

#header-container {
    width: 970px;
    margin: 0 auto;
}

#logo {
    float: left;
    margin: 0 auto;
}

#navigation {
    float: right;
        margin: 0 auto;
}

/* Logo */
.logo {
    color: white;
    text-align: center;
    padding: 14px 0;
    display: block;
    float:left;
}

/* Navigation */
#navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1BBC9B;
}

#navigation > ul > li {
    float: left;
}

#navigation > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation > ul > li a:hover {
    background-color: #16A086;
}

#navigation > ul > li a:hover:not(.active) {
    background-color: #16A086;
}

#filler {
    position: relative;
    font-size: 1.5em;
    height: 2.4em;
}

#content {
    position: relative;
    width:100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    min-height: 500px;
    margin-top: 0;
    z-index: 300;
}

#content-container {
    /*border: 2px dashed #555;*/
    margin: 0 auto;
    width: 970px;
    min-height: 500px;
    padding: 0;
}

#menu {
    width: 100%;
    min-height: 150px;
}

.panel {
    margin-top: 3em;
    /*padding: 1em 2em 1em 2em;*/
    background-color: white;
    box-shadow: #212121;
    -webkit-box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.width70 {
    width: 70%;
    float: left;
    min-height: 150px;
}

.width25 {
    position: relative;
    width: 25%;
    float: left;
    margin-left: 5%;
    min-height: 150px;
}

.greenbg {
    background-color: #1BBC9B;
}

#fruitMenu {
    width: 100%;
}

#fm > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1BBC9B;
}

#fm > ul > li {
    float: left;
}

#fm > ul > li > a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

#fm > ul > li a:hover {
    background-color: #16A086;
}

#fm > ul > li a:hover:not(.active) {
    background-color: #16A086;
}

#hiddenMessage {
    display: none;
}

#fileDrag {
    font-weight: 300;
    position: relative;
    width: 25%;
    float: left;
    margin-left: 5%;
    min-height: 150px;
	cursor: default;
    margin-top: 3em;
    padding: 1em 2em 1em 2em;
    background-color: white;
    box-shadow: #212121;
    -webkit-box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#fileDrag.hover {
	color: #68C3A3;
}


.clear {
    height: 10px;
    clear: both;
}

#footer {
    position: relative;
    width:100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    min-height: 50px;
    z-index: 300;
    background-color: #16A086;
    margin-top: 100px;
}

#footer-container {
    /*border: 2px dashed #555;*/
    margin: 0 auto;
    width: 970px;
    height: 100%;
    padding: 0;
}

#copyright {
    position: relative;
    height: 50px;
    max-width: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 300;
}