{% extends "dyf/base.html" %}
{% block title %}Hello World!{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <div class="panel width70 greenbg">
        <h1><span class="light white">Menu</span></h1>
        <div id="fruitMenu">

        </div>
    </div>
    <form id="upload">
        <div id="fileDrag">
            Drop file here
        </div>
    </form>

    <div class="clear"></div>

    <div class="panel">
        <canvas id="fruitCanvas" height="650" width="970">
            Your web browser does not support HTML5 Canvas. Please use another.



        </canvas>
    </div>
{% endblock %}

{% block sc %}

{% endblock %}